@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Componente ReactJS *@
<main id="app">
    Error De Script !!!
</main>

<link href="@Url.Content("~/Content/css/Surtilr_pedido_embarque/main.css")?1.2.0" rel="stylesheet" />
<script src="@Url.Content("~/dist/surtido_embarque/surtido.js")?1.1.6"></script>