@{
    ViewBag.Title = "Auditoria Venta";
}
<main id="root">
    Actica Tu JavaScript...
</main>
<link href="@Url.Content("~/Content/css/Indicadores/Monitor_auditorio_ventas/main.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/Indicadores/Monitor_auditorio_ventas/Monitor.min.js")?1.0.2"></script>
