
.ventana {
    display:flex;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    justify-content:center;
    align-items:center;
    background:rgba(131, 138, 144, 0.69);
}
#modal_seleccionSurte {
    width:90%;
    max-width:600px;
    height:90%;
    max-height:600px;
    background:#d2d5d5;
    margin-top:30px;
    border-radius:10px;
    border:solid 2px rgba(38, 34, 34, 0.50)
}
.selector_establecimiento {
    margin-top: 25px;
    padding: 25px;
}
#tabla_embarques {
    margin-top: -10px;
    height:90%;
    background:#ffffff;
    overflow:auto;
    z-index:9999;
}

.btn_tabla {
    position: sticky;
    z-index: 99;
    color:azure;
    background: rgb(46, 111, 159);
    right: -10px;   
}
.btn_selector_pedido {
    width: 39px;
    font-size: 20px;
    border-radius: 25px;
}
.vista_datos_embarque {
    display: inline-block;
    margin-left:10px;
}
#contenedor_folio {
    position: static;
    margin-top:-60px;
    left:-170px;
}
#contenedor_folio>div {
    margin-left:-25px
}
    #btn_recargar {
        font-size: 15px;
        border-radius: 5px;
        background: #ff0000;
        margin-left: -25px;
        margin-top: 35px;
        height: 37px
    }
#btn_guardar {
    position:absolute;
    float:right;
    font-size: 43px;
    border-radius: 80px;
    width:60px;
    height:60px;
    top:60px;
    right:20px
}
.contenedor_botones_productos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #dededb;
}
.contenedor_botones_productos i{
        width:20%;
        border-radius:5px;
        margin:auto
}

.vista_numero input {
    width:100px;
    text-align:right;
}
.vista_numero div {
    width: 200px;
    text-align: right;
}
.alinear {
    display:inline-block;
    margin-left:10px;
}
#vista_descripcion {
    position:absolute;
    margin-top:1px;
    width:500px;
    overflow:auto;
}
#contenedor_teclado {
    display: flex;
    position: static;
    height: 280px;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 10px;
}
#teclado {
    position:absolute;
    margin-top:5px;
    height:270px;
    width: 280px;
    border: solid 1px #d2d5d5;
    border-radius:5px;
}
#teclado i {
        height:60px;
        width:60px;
        font-size:25px;
        padding:5px;
        border:solid 1px rgb(46, 111, 159);
        z-index:990;
}
#teclado strong {
        height: 60px;
        width: 78px;
        font-size: 25px;
        padding: 5px;
        border: solid 1px rgb(46, 111, 159);
}
    #teclado .btn_salvar {
        width: 124px;
        background: rgb(127, 178, 216);
    }


#ventana_filtro {
    display: none;
}
@media only screen and (max-width : 768px) {
    .vista_datos_embarque {
        display: inline-block;
        margin-left: 10px;
    }
    .contenedor_botones_productos i {
        width: 30%
    }
        .vista_numero input {
            width: 100px;
            text-align: right;
        }

        .vista_numero div {
            width: 100px;
            text-align: right;
        }

        .alinear {
            display: inline-block;
            margin-left: 10px;
        }

        #vista_descripcion {
            width: 300px;
            height:100px;
        }
}

#ventana_filtro > div {
    height: 50%;
    width: 95%;
    min-height: 400px;
    max-width: 550px;
    background: azure;
    z-index: 999;
}
#cavecera_tabla_filtro th {
    background-color:rgb(127, 178, 216);
    color:azure;
}
.filtro_productos .btn {
    border-radius:30px;
    font-size:15px
}

