

#contenedor_tabla_usuarios {
    height:540px;
    overflow:auto;
}

/*Modal*/
#modal_edicion>div {
    width:750px;
    background:#ffffff;

}
#modal_edicion_url > div {
    width: 100%;
    max-width: 750px;
    background: #ffffff;
}
.modal .panel-footer .btn {
    font-size:18px;
    border-radius:25px;
}
.modal .panel-footer .btn-default {
    float:right;
}
/*Usuario*/
.view_usuario {
    width: 100%;
    display: inline-block;
    margin: auto;
    background: #eceeef;
    padding: 3px;
}
    .view_usuario img {
        height:70px
    }
    .id_usuario {
        padding:10px;
        display:inline-block;
        width:100px;
    }
.id_usuario label {
    color: #000000;
    border-bottom: solid #338ae9 1px;
    padding: 5px;
    display: block;
}
        .id_usuario input {
            color: #000000;
            width: 100%;
            background: #ffffff;
            height: 100%;
            border: none;
        }
.nombre_usuario {
    padding: 10px;
    display: inline-block;
    width: 450px;
}
        .nombre_usuario label {
            color: #000000;
            border-bottom: solid #338ae9 1px;
            padding: 5px;
            display: block;
        }
    .nombre_usuario input {
        color: #000000;
        width: 100%;
        background: #ffffff;
        height: 100%;
        border: none;
    }

/*edicion*/
#modal_edicion_url h5 {
    margin-top:10px;
    padding:10px;
    font-size:18px;
}
#container_accesos_url {
    height:400px;
    overflow:auto;
    border:solid 2px #7db665;
    border-radius:5px;
}